* {
    box-sizing: border-box;
}

body {
    margin: 100px;
}

.field {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #cccccc;
}

.excel {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.snakeBody {
    background: url(scale.jpeg);
    background-size: cover;
    border-radius: 50%;
}

.head {
    background-size: cover;
    border-radius: 10%;
}

.head.direction-right {
    background: url(cat.jpeg);
    background-size: cover;
}

.head.direction-left {
    background: url(cat-left.jpeg);
    background-size: cover;
}

.head.direction-up {
    background: url(cat-up.jpeg);
    background-size: cover;
}

.head.direction-down {
    background: url(cat-down.jpeg);
    background-size: cover;
}

.mouse {
    background: url(mouse.png);
    background-size: cover;
}
.modal {
    position: fixed;
    text-transform: uppercase;
    width: 200px;
    height: 200px;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.button {
    border: 2px solid tomato;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px 0;
    cursor: pointer;
    font-size: 25px;
    transition: all .3s;
}

.button:hover
{
    border-radius: 40px;
}